<html layout:decorate="~{home/layout.html}">
<head>
</head>
<body>
<main layout:fragment="main">
    <div class="w-full px-4 flex flex-col">
        <div class="card-body bg-base-100 shadow-xl m-2">
            <div class="flex gap-2 items-center">
                <i class="fa-solid fa-ticket" style="color: #91c0fd;"></i>
                <h2 class="card-title">이용권 내역</h2>
            </div>
            <div class="flex items-center gap-2">
                <i class="fa-solid fa-user" style="color: #91c0fd;"></i>
                <div class="flex items-center">
                    <p class="font-bold">홍길동</p>
                    <p>님</p>
                </div>
            </div>
            <div class="flex wrap items-center gap-2">
                <i class="fa-regular fa-calendar-days" style="color: #91c0fd;"></i>
                <p>이용권 정보</p>
            </div>
            <div class="flex wrap items-center gap-2">
                <i class="fa-regular fa-circle-check" style="color: #91c0fd;"></i>
                <p>결제일 : </p>
            </div>
            <div class="flex wrap items-center gap-2">
                <i class="fa-regular fa-circle-check" style="color: #91c0fd;"></i>
                <p>시작일 : </p>
            </div>
            <div class="flex wrap items-center gap-2">
                <i class="fa-regular fa-circle-check" style="color: #91c0fd;"></i>
                <p>종료일 : </p>
            </div>
            <div class="flex wrap items-center gap-2">
                <i class="fa-regular fa-circle-check" style="color: #91c0fd;"></i>
                <div class="flex wrap items-center gap-2">
                    <p>상태 : </p>
                    <p>이용중</p>
                </div>
            </div>
        </div>
        <button class="btn shadow-xl m-2" style="background-color: #91c0fd;">락커신청</button>
        <button class="btn shadow-xl m-2" style="background-color: #91c0fd;">연장하기</button>
        <button class="btn shadow-xl m-2" style="background-color: #91c0fd;">일시정지하기</button>
        <button class="btn shadow-xl m-2" style="background-color: #91c0fd;">환불신청</button>
        <button class="btn shadow-xl m-2" style="background-color: #91c0fd;">이용권구입</button>
    </div>
</main>
</body>
</html>