<html layout:decorate="~{home/layout.html}">
<head>
    <title>헬스장 이용 현황</title>
</head>
<body>
<main layout:fragment="main">
    <div class="w-full px-4 flex flex-col">
        <div class="card-body bg-base-100 shadow-xl m-2">
            <th:block th:if="${gymMembership != null}">
                <div class="flex gap-2 items-center">
                    <i class="fa-regular fa-calendar-days" style="color: #91c0fd;"></i>
                    <h2 class="card-title">이용권 정보</h2>
                </div>
                <div class="flex items-center gap-2">
                    <i class="fa-solid fa-user" style="color: #91c0fd;"></i>
                    <div class="flex items-center">
                        <p class="font-bold" th:text="${gymMembership.user.account.fullName}"></p>
                        <p>님</p>
                    </div>
                </div>
                <div class="flex wrap items-center gap-2">
                    <i class="fa-regular fa-circle-check" style="color: #91c0fd;"></i>
                    <div class="flex gap-2">
                        <p th:if="${gymMembership.status!=3}">결제일 : </p>
                        <p th:if="${gymMembership.status==3}">연장일 : </p>
                        <p th:text="${#temporals.format(gymMembership.paymentDate, 'yy-MM-dd EEEEE요일')}"></p>
                    </div>
                </div>
                <div class="flex wrap items-center gap-2">
                    <i class="fa-regular fa-circle-check" style="color: #91c0fd;"></i>
                    <div class="flex gap-2">
                        <p>시작일 : </p>
                        <p th:if="${gymMembership.status==0}"
                           th:text="|${#temporals.format(gymMembership.startDate, 'yy-MM-dd EEEEE요일')}|"></p>
                        <p th:if="${gymMembership.status==0}" class="font-bold"
                           th:text="|${'(D-' + beforeDays + ')'}|"></p>

                        <p th:if="${gymMembership.status!=0}"
                           th:text="${#temporals.format(gymMembership.startDate, 'yy-MM-dd EEEEE요일')}"></p>
                    </div>
                </div>
                <div class="flex wrap items-center gap-2" th:if="${gymMembership.status==4}">
                    <i class="fa-regular fa-circle-check" style="color: #91c0fd;"></i>
                    <div class="flex gap-2">
                        <p>재시작일 : </p>
                        <p th:text="|${#temporals.format(gymMembership.restartDate, 'yy-MM-dd EEEEE요일')}|"></p>
                    </div>
                </div>
                <div class="flex wrap items-center gap-2">
                    <i class="fa-regular fa-circle-check" style="color: #91c0fd;"></i>
                    <div class="flex gap-2">
                        <p th:if="${gymMembership.status!=2}">종료일 : </p>
                        <p th:if="${gymMembership.status!=2}"
                           th:text="${#temporals.format(gymMembership.endDate, 'yy-MM-dd EEEEE요일')}"></p>
                        <p th:if="${gymMembership.status!=2}" class="font-bold"
                           th:text="|${'(D-' + afterDays + ')'}|"></p>
                        <p th:if="${gymMembership.status==2}">일시정지일 : </p>
                        <p th:if="${gymMembership.status==2}"
                           th:text="${#temporals.format(gymMembership.pauseDate, 'yy-MM-dd EEEEE요일')}"></p>
                    </div>
                </div>
                <div class="flex wrap items-center gap-2" th:if="${gymMembership.status==2}">
                    <i class="fa-regular fa-circle-check" style="color: #91c0fd;"></i>
                    <div class="flex wrap items-center gap-2">
                        <p>남은일자 : </p>
                        <p th:text="${gymMembership.remainingDay +'일'}"></p>
                    </div>
                </div>
                <div class="flex wrap items-center gap-2">
                    <i class="fa-regular fa-circle-check" style="color: #91c0fd;"></i>
                    <div class="flex wrap items-center gap-2">
                        <p>상태 : </p>
                        <p th:if="${gymMembership.status==0}"> 이용 대기중</p>
                        <p th:if="${gymMembership.status==1}"> 이용 중</p>
                        <p th:if="${gymMembership.status==2}"> 일시정지</p>
                        <p th:if="${gymMembership.status==3}"> 연장</p>
                        <p th:if="${gymMembership.status==4}"> 재시작</p>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${gymMembership == null}">
                <div class="flex flex-col items-center justify-center gap-3">
                    <i class="fa-solid fa-xmark text-[3rem]" style="color: #5794ff;"></i>
                    <div class="font-bold"> 이용중인 이용권이 없습니다.</div>
                    <div class="font-bold">이용권을 구입해주세요.
                        <i class="fa-regular fa-face-smile" style="color: #7aabff;"></i>
                    </div>
                </div>
            </th:block>
        </div>
        <th:block th:if="${gymMembership != null}">
            <button class="btn shadow-xl m-2" style="background-color: #91c0fd;"
                    onclick="javascript: window.location.href='/gym/locker';">락커신청
            </button>
            <button class="btn shadow-xl m-2" style="background-color: #91c0fd;"
                    onclick="javascript: window.location.href='/gym/register';">연장신청
            </button>
            <button class="btn shadow-xl m-2" style="background-color: #91c0fd;"
                    th:if="${gymMembership.status !=2 and gymMembership.status !=0}"
                    onclick="javascript: window.location.href='/gym/pause';">일시정지
            </button>
            <form th:action="@{/gym/unpause}" method="POST" class="w-full">
                <input type="hidden" name="membershipId" th:value="${gymMembership.id}"/>
                <div class="w-full px-0.1 flex flex-col">
                    <button class="btn shadow-xl m-2" style="background-color: #91c0fd;"
                            th:if="${gymMembership.status ==2}"
                            onclick="return confirm('일시정지를 해제 하시겠습니까?')">일시정지 해제
                    </button>
                </div>
            </form>
            <button class="btn shadow-xl m-2" style="background-color: #91c0fd;"
                    onclick="javascript: window.location.href='/gym/refund';">환불신청
            </button>
        </th:block>
        <button class="btn shadow-xl m-2" style="background-color: #91c0fd;"
                th:if="${gymMembership == null}"
                onclick="javascript: window.location.href='/gym/register';">이용권구입
        </button>
        <!-- 이용내역 기능 구현 필요 -->
        <button class="btn shadow-xl m-2" style="background-color: #91c0fd;"
                onclick="javascript: window.location.href='/gym/history';">이용권 결제 내역
        </button>
    </div>
</main>
</body>
</html>