<html layout:decorate="~{home/layout.html}">

<head>
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">락커신청</title>
</head>

<body>

<main layout:fragment="main">
    <div class="flex items-center justify-center h-screen">
        <div class="text-center flex-col wrap items-center gap-2">
            <div class="flex items-center gap-2">
                <i class="fa-regular fa-face-grin-beam-sweat"></i>
                <p>락커는 현재 준비중입니다</p>
            </div>
            <div class="flex gap-2 mt-2">
                <div class="btn btn-primary" onclick="javascript: window.location.href='/';">
                    홈으로
                </div>
                <div class="btn btn-primary" onclick="javascript: window.location.href='/gym';"> 헬스장메인으로</div>
            </div>
        </div>
    </div>
</main>
</body>

</html>

