<html layout:decorate="~{home/layout.html}">

<head>
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">이용권구입</title>
    <link rel="stylesheet" href="/css/calender.css">
    <script src="/js/calender.js"></script>
    <script src="https://js.tosspayments.com/v1/payment"></script>
</head>

<body>

<main layout:fragment="main" class="flex items-center justify-center">
    <div class="px-4 flex flex-col">
        <div class="flex gap-2 items-center justify-center">
            <i class="fa-solid fa-ticket" style="color: #91c0fd;"></i>
            <h2 class="card-title">이용권 구입</h2>
        </div>

        <div class="card-body bg-base-100 shadow-xl m-2 mt-4">
            <div class="flex wrap items-center gap-2">
                <i class="fa-regular fa-calendar-days" style="color: #91c0fd;"></i>
                <h2 class="font-bold">이용권 정보</h2>
            </div>
            <div class="form-control flex gap-2 mt-2">
                <label th:each="ticket : ${gymTicketList}" class="flex items-center gap-2">
                    <input type="checkbox" class="checkbox checkbox-primary" th:value="${ticket.type}"/>
                    <span class="label-text"
                          th:text="|${ticket.name} - ${#numbers.formatInteger(ticket.price, 3, 'COMMA') + '원'}|"
                          th:value="${ticket.price}"></span>
                    <div class="font-bold" th:if="${ticket.content != null}"
                         th:text="${'(' + ticket.content + ')'}"></div>
                </label>
            </div>

            <div class="mt-4">
                <div class="flex wrap items-center gap-2">
                    <i class="fa-regular fa-calendar-days" style="color: #91c0fd;"></i>
                    <h2 class="font-bold">이용 시작일 지정</h2>
                </div>
                <!-- 캘린더 날짜 선택 -->
                <div class="flex justify-center mt-2">
                    <table class="Calendar">
                        <thead>
                        <tr>
                            <td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
                            <td colspan="5">
                                <span id="calYear"></span>년
                                <span id="calMonth"></span>월
                            </td>
                            <td onClick="nextCalendar();" style="cursor:pointer;">&#62;</td>
                        </tr>
                        <tr>
                            <td>일</td>
                            <td>월</td>
                            <td>화</td>
                            <td>수</td>
                            <td>목</td>
                            <td>금</td>
                            <td>토</td>
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                </div>
                <input id="selectedDate" class="hidden"/>
            </div>

            <div class="flex items-center gap-2">
                <i class="fa-solid fa-comments-dollar" style="color: #91c0fd;"></i>
                <div class="font-bold">결제방식</div>
            </div>

            <div class="flex justify-center items-center gap-4 mt-2">
                <label class="flex items-center gap-1" >
                    <input type="radio" class="radio radio-info radio-sm" name="method" value="카드" onchange="updateFontWeight(this)"/>
                    <i class="fa-regular fa-credit-card" style="color: #91c0fd;"></i>
                    <span id="creditCardLabel">신용카드</span>
                </label>
                <label class="flex items-center gap-1">
                    <input type="radio" class="radio radio-info radio-sm" name="method" value="가상계좌" onchange="updateFontWeight(this)"/>
                    <i class="fa-solid fa-piggy-bank" style="color: #91c0fd;"></i>
                    <span id="virtualAccountLabel">가상계좌</span>
                </label>
            </div>
        </div>

        <div class="flex justify-end wrap items-center gap-2">
            <i class="fa-regular fa-circle-check" style="color: #91c0fd;"></i>
            <p>결제금액 : </p>
            <div id="payment-amount"></div>
        </div>
        <div class="flex justify-end">
            <button id="payment-button" class="btn shadow-xl m-2 button is-link" style="background-color: #91c0fd;">결제하기</button>
        </div>
    </div>
    </div>

    <!-- 체크박스 선택 시 이전 선택한거 삭제 후 선택, 선택된 폰트 굵게 -->
    <script th:inline="javascript">
        const checkboxes = document.querySelectorAll('.checkbox');
        const paymentAmountElement = document.getElementById('payment-amount');

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                if (checkbox.checked) {
                    checkboxes.forEach(c => {
                        if (c !== checkbox) {
                            c.checked = false;
                            c.nextElementSibling.classList.remove('font-semibold');
                        }
                    });

                    // 체크박스 선택된 것의 다음 요소에서 value 속성값을 가져옴
                    const value = checkbox.nextElementSibling.getAttribute('value');
                    // 선택된 체크박스의 글꼴을 굵게 설정
                    checkbox.nextElementSibling.classList.add('font-semibold');
                    // 천단위 구분기호 변환 + 원 붙여주고 글꼴 굵게
                    const paymentAmount = parseInt(value);
                    const formattedPaymentAmount = paymentAmount.toLocaleString();
                    paymentAmountElement.textContent = formattedPaymentAmount + '원';
                    paymentAmountElement.classList.add('font-semibold');
                }
                // 체크박스 선택이 풀렸을 떄
                else {
                    checkbox.nextElementSibling.classList.remove('font-semibold');
                    paymentAmountElement.textContent = '';
                    paymentAmountElement.classList.remove('font-semibold');
                }
            });
        });

    </script>
    <script>
        // 라디오박스 선택 시 폰트 굵게
        function updateFontWeight(checkbox) {
            const creditCardLabel = document.getElementById("creditCardLabel");
            const virtualAccountLabel = document.getElementById("virtualAccountLabel");

            if (checkbox.value === "카드") {
                creditCardLabel.classList.add("font-bold");
                virtualAccountLabel.classList.remove("font-bold");
            } else if (checkbox.value === "가상계좌") {
                creditCardLabel.classList.remove("font-bold");
                virtualAccountLabel.classList.add("font-bold");
            }
        }
    </script>

    <script src="https://js.tosspayments.com/v1"></script>
    <script>
        var tossPayments = TossPayments("test_ck_lpP2YxJ4K877wRwQ1Lp8RGZwXLOb");
        var button = document.getElementById("payment-button");

        var orderId = new Date().getTime();

        button.addEventListener("click", function () {
            var method = document.querySelector('input[name=method]:checked').value; // "카드" 혹은 "가상계좌"

            var paymentData = {
                amount: 19000,
                orderId: orderId,
                orderName: "토스 티셔츠",
                customerName: "이토페",
                successUrl: window.location.origin + "/success",
                failUrl: window.location.origin + "/fail",
            };

            if (method === '가상계좌') {
                paymentData.virtualAccountCallbackUrl = window.location.origin + '/virtual-account/callback'
            }

            tossPayments.requestPayment(method, paymentData);
        });
    </script>


</main>
</body>
</html>

