<html data-hide-back-button="true" layout:decorate="~{home/layout.html}">
<head>
    <title>관리자</title>
    <style>
        button.btn.btn-outline.btn-primary {
            width: 174px;
            height: 80px;
            border-radius: 15px;
        }

        h2 {
            display: block;
            font-size: 1.5em !important;
            margin-top: 0.5em !important;
            margin-bottom: 0.5em !important;
            margin-left: 0.5em !important;
            margin-right: 0 !important;
            font-weight: bold !important;
        }
    </style>
</head>
<body>
<!-- main -->
<main layout:fragment="main">
    <!-- 공지사항 -->
    <div class="m-3" style="border: 1px solid #707070; border-radius: 15px;">
        <div class="px-4 flex items-center w-full justify-between">
            <div class="flex items-center ml-3">
                <i class="fa-solid fa-bullhorn text-[1rem]" style="color: #91c0fd;"></i>
                <h2>공지사항</h2>
            </div>
            <a class="link link-hover font-bold text-xs" href="/notice">더 보기 ></a>
        </div>
        <div class="overflow-x-auto">
            <div class="table-container">
                <table class="table table-sm">
                    <tbody>
                    <tr th:each="notice : ${noticeList}"
                        th:onclick="'location.href=\'/notice/' + ${notice.id} + '\''">
                        <td class="text-center px-5 min-w-[50px]">
                            <span th:if="${#strings.length(notice.title) <= 16}"
                                  th:text="${notice.title}"></span>
                            <span th:unless="${#strings.length(notice.title) <= 16}"
                                  th:text="${notice.title.substring(0, 16)} + '...'"></span>
                        </td>
                        <td class="text-end px-5 min-w-[40px]"
                            th:text="${#temporals.format(notice.createDate, 'yy-MM-dd')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 버튼메뉴 -->
    <div class="flex justify-center flex-wrap gap-3">
        <button id="management" onclick="javascript: window.location.href='/admin/management';"
                class="btn btn-outline btn-primary">
            회원 관리
        </button>
        <button id="gym" onclick="javascript: window.location.href='/admin/gym';"
                class="btn btn-outline btn-primary">
            헬스장 관리
        </button>
        <button id="library" onclick="javascript: window.location.href='/admin/library/histories';"
                class="btn btn-outline btn-primary">
            독서실 관리
        </button>
        <button id="repair" onclick="toastWarning('죄송합니다,<br>현재 이 서비스는 준비 중입니다.');"
                class="btn btn-outline btn-primary">
            시설 보수 신청
        </button>
        <button id="guest-house" onclick="javascript: window.location.href='/admin/guesthouse';"
                class="btn btn-outline btn-primary">
            게스트하우스 관리
        </button>
        <button id="guest-vehicle" onclick="javascript: window.location.href='/admin/guest/vehicle';"
                class="btn btn-outline btn-primary">
            방문차량 조회
        </button>
        <button id="mypage"
                class="btn btn-outline btn-primary">
            마이페이지
        </button>
        <button id="none"
                class="btn btn-outline btn-primary"
                style="visibility:hidden">
        </button>
    </div>
</main>
</body>
</html>