<html layout:decorate="~{home/layout.html}">
<head>
    <title>승인 대기 중</title>
    <link rel="stylesheet" href="/css/form-styles.css">
</head>
<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-8 mt-5">
        <div class="flex justify-center items-center">
            <div class="flex max-w-sm w-full justify-center bg-white shadow-md rounded-lg overflow-hidden mx-auto flex flex-col p-5">
                <h3 class="text-center text-xl font-bold mb-3">아파트 등록 요청을 완료했습니다.</h3>
                <p class="text-primary text-center my-3">
                    관리자가 등록을 확인하고 승인하는 데<br>
                    최대 7일이 걸릴 수 있음을 알려드립니다.<br>
                    <br>궁금한 사항이 있으시면 언제든지<br>
                    관리사무소에 문의해 주세요.<br>
                    <br><i class="fa-solid fa-phone"></i>
                    Tel: xxx-xxxx-xxxx
                </p>
            </div>
        </div>
    </div>
</main>
</body>
</html>