<html layout:decorate="~{home/layout.html}">
<head>
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">방문차량 등록</title>
    <link rel="stylesheet" href="/css/calender.css">
    <script src="/js/calender.js"></script>
</head>
<body>
<main layout:fragment="main" class="flex flex-col justify-center">
    <div class="card bg-base-100 shadow-xl m-[5%]">
        <div class="card-body">
            <h2 class="card-title">방문차량 등록</h2>
            <form>
                <!-- 캘린더 날짜 선택 -->
                <div class="flex justify-center">
                    <table class="Calendar">
                        <thead>
                        <tr>
                            <td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
                            <td colspan="5">
                                <span id="calYear"></span>년
                                <span id="calMonth"></span>월
                            </td>
                            <td onClick="nextCalendar();" style="cursor:pointer;">&#62;</td>
                        </tr>
                        <tr>
                            <td>일</td>
                            <td>월</td>
                            <td>화</td>
                            <td>수</td>
                            <td>목</td>
                            <td>금</td>
                            <td>토</td>
                        </tr>
                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                </div>
                <input id="selectedDate" class="hidden"/>

                <!-- 차량 번호 입력 -->
                <div class="form-control w-full my-3">
                    <label class="label">
                        <span class="label-text">차량번호</span>
                    </label>
                    <input type="text" placeholder="123가 4567" class="input input-bordered w-full max-w-xs"/>
                </div>

                <!-- 등록 버튼 -->
                <div class="card-actions">
                    <button class="btn btn-info btn-sm btn-outline w-full">등록하기</button>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>