<html layout:decorate="~{home/layout.html}">
<head>
    <title>로그인</title>
</head>
<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-5">
        <h1 class="text-center text-2xl font-bold mb-10">로그인</h1>

        <form class="flex flex-col gap-6">
            <div class="form-control">
                <input type="text" name="userId" maxlength="20"
                       class="input input-bordered input-primary"
                       placeholder="아이디"/>
            </div>
            <div class="form-control">
                <input type="password" name="password" maxlength="20"
                       class="input input-bordered input-primary"
                       placeholder="비밀번호"/>
            </div>

            <button id="btn-login" class="btn btn-block btn-primary">
                <span>로그인</span>
            </button>
        </form>
        <div class="flex justify-center">
            <a href="#" class="btn btn-link !text-gray-500 gap-2">
                <i class="fa-solid fa-user"></i>
                <span>회원가입 신청</span></a>
        </div>
    </div>
</main>
</body>
</html>